
{% extends 'base.html' %}

{% block mainblock %}
    <div class="container">
        <div class="row justify-content-center ">
            <div class="form-group">
             <form method="post">{% csrf_token %}
                 {% for field in form %}
                    <div class="form-group">

                    {{field.label_tag}}
                    {% if field.name == "last_date_of_donation" %}
                        <fieldset disabled>
                            <input type="text" class="form-control" value="{{donation_date}}">
                        </fieldset>
                        <p>Add New Date of Donation</p>
                    {% endif %}

                    {{field}}
                    {% if field.help_text %}
                        <small>{{field.help_text}}</small><br>
                    {% endif %}

                    {% if field.errors %}
                        {{field.errors}}
                    {% endif %}
                    </div>
                 {% endfor %}
                 <br>
                <button type="submit" class="btn btn-primary">Done</button>
                 {% if form.non_field_errors %}
                    {{form.non_field_errors}}
                 {% endif %}
            </form>
                </div>


        </div>
    </div>
{% endblock %}