{% extends 'base.html' %}
{% block headblock %}
<title> Donor info</title>
    {% endblock %}

{% block mainblock %}

<div class="container">
    <div class="row">
        <div class="col-sm">

            <div><b>Name                         </b>: {{donor.user.first_name}}</div>
            <div><b>Phone Number                 </b>: {{donor.phone_number}}</div>
            <div><b>Date of Birth                </b>: {{donor.user.date_of_birth}}</div>
            <div><b>Permanent Address            </b>: {{donor.permanent_address}}</div>
            <div><b>District                     </b>: {{donor.district}}</div>
            <div><b>Organization                 </b>: {{donor.organization}}</div>
            {% if request.user.is_authenticated %}
                {% if request.user == donor.user %}
                <div><b>Area where you can donate                 </b>: {{donor.specific_area}}</div>
                {% endif %}
            {% endif %}

            <div><b> Last Date of Donation        </b>: {{donor.last_date_of_donation}}
            </div>
        </div>

        <div class="col-sm">
            <h4 style="color: red">Blood Donation date and description of user</h4>
            {% for date in date %}
                {{date.date}} -- {{date.details}} <br>
            {% endfor %}
        </div>
    </div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'add_donor_details'%}" class="btn btn-primary"> Update details</a>
    {% endif %}
</div>
{% endblock %}